pipeline/RUN_SQL_FROM_FILE_BLOB.json
{
	"name": "RUN_SQL_FROM_FILE_NO_VAR_SET_GIT",
	"properties": {
		"activities": [
			{
				"name": "GET_FILE_CONTENT",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.FILE_FOLDER",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.FILE_NAME",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SQLExecute",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "GET_FILE_CONTENT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AdamDvorakDB",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": {
								"value": "@pipeline().parameters.SQL_TYPE",
								"type": "Expression"
							},
							"text": {
								"value": "@string(activity('GET_FILE_CONTENT').output.value[0].Prop_0)",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FILE_FOLDER": {
				"type": "string",
				"defaultValue": "bigsqltrails/DDL"
			},
			"FILE_NAME": {
				"type": "string",
				"defaultValue": "EXTDDL_BIGSQL_TRAILS_TRAILS_EAADMIN_ALERT_CAUSE.csv"
			},
			"SQL_TYPE": {
				"type": "string",
				"defaultValue": "NonQuery"
			}
		},
		"variables": {
			"QUERY": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-05-18T15:52:14Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}